body{background-color: #ccc;
float-left;}


.edith{
	color: blue;
	background-color: white;

width: 400px;
padding: 40px;
}

.edgar{
background-color: white;
width: 400px;
padding: 40px;
}

.ed{background-color: white;
width: 400px;
padding: 40px;

}
.a{
background-color: blue;
width: 500px;
padding: 40px;


}
