body{
	background-color: #ffffff ;
	
}
header{
  
  background-color: #0000FF;
  top: 0;
  position:fixed;
  padding-left:220px; 
}
.head{
	width: 1280px;
	margin: 0 auto;

}

.head ul{
	float: left;
}
.head ul li{
	float: left;
	list-style: none;
}
.head ul li a{
	padding-left: 20px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	}

.water{
	margin: 0 auto;
	width: 900px;


    padding-right: 20px;
    padding-left: 30px;
    background-color: #ECF8FB  ;
    font-style: arial;
    font-size: 20px;
    padding-bottom: 20px;
}

.water img{
	margin-left: 130px;
	height: 400px;
	padding-top: 70px;
}
.water h1{
	padding-left: 180px;
	color: blue;
}
